<div class="timeline-container">

  <mat-form-field hintLabel="Maximum 200 characters" appearance="fill">
    <mat-label>Submit Post:</mat-label>
    <textarea [(ngModel)]="tempPost" matInput maxlength="200" placeholder="Write a Post..." name="comment">
        </textarea>
    <input type="file" (change)="onFileSelected($event)"
           accept="image/*">
    <button matSuffix mat-icon-button aria-label="Clear" (click)="submitPost()">
      <mat-icon>send</mat-icon>
    </button>
  </mat-form-field>
  <div class="timeline-posts-container">
    <div *ngFor="let post of postsList">
      <mat-card class="timeline-cards">
        <mat-card-header class="timeline-post-header">
          <mat-card-title>{{post.userFirstName+ ' ' + post.userLastName}}</mat-card-title>
        </mat-card-header>
        <img class="timeline-post-image" *ngIf="post.attachment!=null && post.attachment !=''" [src]="'data:image/jpg;base64,' + post.attachment">
        <mat-card-content>
          <p>
            {{post.content}}
          </p>
        </mat-card-content>
        <mat-card-actions>
          <mat-checkbox class="timeline-like-button" [checked]="checkLikes(post)" (change)="likePost(post)">
            {{post.likes?.length || ''}} <mat-icon [ngClass]="getThumbsUpIconClass(post)">thumb_up</mat-icon>
          </mat-checkbox>
        </mat-card-actions>
        <span class="timeline-comments-title">Comments:</span>
        <div *ngFor="let comment of post.comments">
          <mat-card class="timeline-comment-cards">
            <mat-card-subtitle>{{comment.firstName + ' ' + comment.lastName}}:</mat-card-subtitle>
            <p>
              {{comment.content}}
            </p>
          </mat-card>
        </div>
        <mat-form-field class="timeline-comment-input" hintLabel="Maximum 200 characters" appearance="fill">
          <mat-label>Enter your Comment</mat-label>
          <textarea [(ngModel)]="post.tempComment" matInput maxlength="200" placeholder="Write a Comment..." name="comment">
        </textarea>
          <button matSuffix mat-icon-button aria-label="Clear" (click)="submitComment(post)">
            <mat-icon>send</mat-icon>
          </button>
        </mat-form-field>
      </mat-card>
    </div>
    <button class="timeline-see-more-button"  (click)="getPosts()"
            *ngIf="postsList.length>0 && postsList.length<totalPostsNumber" mat-stroked-button>See More</button>
  </div>

</div>
