table {
  width: 100%;
}

.mat-form-field {
  margin-left: 20px;
  font-size: 14px;
  width: 90%;
}

td, th {
  width: 25%;
}

.all-users-list-button-container {
  display: flex;
  justify-content: center;
  width: 120px;
}

.all-users-list-card {
  margin-top: 20px;
}

mat-card-title::after {
  content: "";
  display: block;
  width: 100px;
  padding-top: 10px;
  border-bottom: 2px solid #3F51B5;
}
